{% extends 'base.html.twig' %}

{% block title %}New DevellopementStudio{% endblock %}

{% block body %}
    <h1>Create new DevellopementStudio</h1>

    {{ include('devellopement_studio/_form.html.twig') }}

    <a href="{{ path('devellopement_studio_index') }}">back to list</a>
{% endblock %}
